doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="index.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js") 
        script(src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js") 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js") 
        script(src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js") 
        link(rel="icon", href="../image/logo.ico" type="image/x-icon")
        title RYAN'S WEBSITE
    body 
        //- navgation bar of the webiste
        nav.navbar.navbar-expand-lg.fixed-top.nav-bg.onOff
            a.navbar-brand(href="")
                img(src="../image/logo.svg") 
            button.navbar-toggler.list(type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar_menu" aria-expanded="false" aria-label="Toggle navigation")
                span
                img.list(src="../image/list.svg")
            .collapse.navbar-collapse.justify-content-end#navbar-menu
                ul.navbar-nav.text-center
                    li.nav-item
                        a.nav-link(href="") ABOUT
                    li.nav-item
                        a.nav-link(href="") WORK
                    li.nav-item
                        a.nav-link(href="") CONTACT
        
        //- progress bar 

        progress#content_progress.fixed-top(value="0").onOff
        script(src="progress_bar.js") 

        //- landing page of the index
        header.jumbotron
            iframe(src="index_bg.html", frameborder="0") 
            .container-fluid          
                .row 
                    .col-lg-12 
                        .landing_intro 
                            h4 RYAN CHAO 
                            h1 UX Researcher who tries to combine<br> motion and development 
                            //- img.logo(src="", alt="")
                            .scroll ↓ scroll

        section#intro 
            .container-fluid    
                .row 
                    h2 What can I do?
                    .col-lg-4 
                        img.intro_img(src="../image/data.svg")
                        .intro_text 
                            h4 Research & Analysis
                            p Analyze the data and information collected through the interviews and secondary researches
                    .col-lg-4 
                        img.intro_img(src="../image/trip.svg")
                        .intro_text 
                            h4 Prototype
                            p Create the hifi prototype with the flowchart analyzed
                    .col-lg-4 
                        img.intro_img(src="../image/code.svg")
                        .intro_text 
                            h4 Motion & Code
                            p Apply the motion and coding knowledge to the design 

        //- the banner, show the visitor first                    
        banner 
            .container.banner
                .row
                    .col-lg-12
                        img.pic(src="../image/prodigest_banner.png")
                        .text
                            h5 Mobile App, UI/UX Design
                            h2 PRODIGEST
                            p This is my individual work to design an app to help users to visualize the process of projects, which cost almost 2 months. I hope it can wake up people's motivation.
                            a.checkBtn(href="scad.html") View Full Project  

        hr
        //- the works
        section#section_workA 
            .container
                .row
                    .col-lg-6.cover_img 
                        img.cover(src="../image/Work_Page/scad_cover.png")
                    .col-lg-6.cover_text
                        .text 
                            h5 Website, UI/UX Design & Service Design
                            h2 SCAD Course Selection Redesign
                            p As a UI/UX designer, I worked with a UI designer to complete this project to improve the students’ experience when they tried to finish their degrees. I hope it helpful for them to find jobs in the future.
                            a.checkBtn(href="scad.html") View Full Project 

        section#section_workB 
            .container
                .row 
                    .col-lg-6.cover_img 
                        img.cover(src="../image/Work_Page/hikit_cover.png")
                    .col-lg-6.cover_text
                        .text 
                            h5 Mobile App, UI/UX Design
                            h2 HIKIT
                            p Together with four companions, I made an app for the rapid treatment of emergency wounds in the field. At the same time, users can also quickly call for help through it.
                            a.checkBtn(href="scad.html") View Full Project 

        hr
        .mouseCircle

        //- the footer including email and social media
        footer.jumbotron
            .container-fluid
                .footer_text 
                    h6.email_greet Like my works? Email me 
                        span ↓
                    h6 
                        a.email(href="mailto:ryanchaorh@gmail.com?Subject=Hello%20Ryan" target="_top") ryanchaorh@gmail.com
                    h6.claim Website's designed and coded by myself
                .cutLine
                .social_media
                    a(href="https://www.instagram.com/ryanchaorh/").ins 
                        img(src="../image/instagram.svg")
                    a(href="https://www.facebook.com/ryan.chao.1481/").facebook
                        img(src="../image/facebook.svg")
    script(src="index.js") 




